# Importing spark

In [1]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Python Spark").getOrCreate()
sc = spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 63 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 55.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=c1987a512e913d0c3e5018e9423cf52303965f173df33c634b06447071cf7f05
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

# Preparing the data

In [2]:
df_transactions = spark.read.option("header", True)\
    .option("delimiter", "|")\
    .option("delimiter", ",")\
    .option("inferSchema", "true")\
    .csv('train.csv')\
    .withColumnRenamed('default_payment_next_month', 'label')

In [3]:
df_transactions.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- LIMIT_BAL: double (nullable = true)
 |-- SEX: integer (nullable = true)
 |-- EDUCATION: integer (nullable = true)
 |-- MARRIAGE: integer (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- PAY_0: integer (nullable = true)
 |-- PAY_2: integer (nullable = true)
 |-- PAY_3: integer (nullable = true)
 |-- PAY_4: integer (nullable = true)
 |-- PAY_5: integer (nullable = true)
 |-- PAY_6: integer (nullable = true)
 |-- BILL_AMT1: double (nullable = true)
 |-- BILL_AMT2: double (nullable = true)
 |-- BILL_AMT3: double (nullable = true)
 |-- BILL_AMT4: double (nullable = true)
 |-- BILL_AMT5: double (nullable = true)
 |-- BILL_AMT6: double (nullable = true)
 |-- PAY_AMT1: double (nullable = true)
 |-- PAY_AMT2: double (nullable = true)
 |-- PAY_AMT3: double (nullable = true)
 |-- PAY_AMT4: double (nullable = true)
 |-- PAY_AMT5: double (nullable = true)
 |-- PAY_AMT6: double (nullable = true)
 |-- label: integer (nullable = true)

In [25]:
train, test = df_transactions.randomSplit([0.8, 0.2])
cols = train.columns[1:-2]
cols

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5']

In [26]:
from pyspark.ml.feature import VectorAssembler

train = VectorAssembler(inputCols=cols, outputCol="vector").transform(train)
train.show()

+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+-----+--------------------+
| ID|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|PAY_0|PAY_2|PAY_3|PAY_4|PAY_5|PAY_6|BILL_AMT1|BILL_AMT2|BILL_AMT3|BILL_AMT4|BILL_AMT5|BILL_AMT6|PAY_AMT1|PAY_AMT2|PAY_AMT3|PAY_AMT4|PAY_AMT5|PAY_AMT6|label|              vector|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+-----+--------------------+
|  2| 120000.0|  2|        2|       2| 26|   -1|    2|    0|    0|    0|    2|   2682.0|   1725.0|   2682.0|   3272.0|   3455.0|   3261.0|     0.0|  1000.0|  1000.0|  1000.0|     0.0|  2000.0|    1|[120000.0,2.0,2.0...|
|  3|  90000.0|  2|        2|       2| 34|    0|    0|    0|    0|    0|    0|  29239.0|  14027.0|  13559.0|  14331.0|  14948.0|  15549.0|  1518.0|  1500.0|  1000.0|  1000.0|  1000.0|  5000.0|    0|[90000.0,2.0,2.0,...|
|  6|  50000.0|  1|        1|       2| 37|    0|    0|    0|    0|    0|    0|  64400.0|  57069.0|  57608.0|  19394.0|  19619.0|  20024.0|  2500.0|  1815.0|   657.0|  1000.0|  1000.0|   800.0|    0|[50000.0,1.0,1.0,...|
|  7| 500000.0|  1|        1|       2| 29|    0|    0|    0|    0|    0|    0| 367965.0| 412023.0| 445007.0| 542653.0| 483003.0| 473944.0| 55000.0| 40000.0| 38000.0| 20239.0| 13750.0| 13770.0|    0|[500000.0,1.0,1.0...|
|  8| 100000.0|  2|        2|       2| 23|    0|   -1|   -1|    0|    0|   -1|  11876.0|    380.0|    601.0|    221.0|   -159.0|    567.0|   380.0|   601.0|     0.0|   581.0|  1687.0|  1542.0|    0|[100000.0,2.0,2.0...|
| 10|  20000.0|  1|        3|       2| 35|   -2|   -2|   -2|   -2|   -1|   -1|      0.0|      0.0|      0.0|      0.0|  13007.0|  13912.0|     0.0|     0.0|     0.0| 13007.0|  1122.0|     0.0|    0|[20000.0,1.0,3.0,...|
| 11| 200000.0|  2|        3|       2| 34|    0|    0|    2|    0|    0|   -1|  11073.0|   9787.0|   5535.0|   2513.0|   1828.0|   3731.0|  2306.0|    12.0|    50.0|   300.0|  3738.0|    66.0|    0|[200000.0,2.0,3.0...|
| 12| 260000.0|  2|        1|       2| 51|   -1|   -1|   -1|   -1|   -1|    2|  12261.0|  21670.0|   9966.0|   8517.0|  22287.0|  13668.0| 21818.0|  9966.0|  8583.0| 22301.0|     0.0|  3640.0|    0|[260000.0,2.0,1.0...|
| 13| 630000.0|  2|        2|       2| 41|   -1|    0|   -1|   -1|   -1|   -1|  12137.0|   6500.0|   6500.0|   6500.0|   6500.0|   2870.0|  1000.0|  6500.0|  6500.0|  6500.0|  2870.0|     0.0|    0|[630000.0,2.0,2.0...|
| 14|  70000.0|  1|        2|       2| 30|    1|    2|    2|    0|    0|    2|  65802.0|  67369.0|  65701.0|  66782.0|  36137.0|  36894.0|  3200.0|     0.0|  3000.0|  3000.0|  1500.0|     0.0|    1|[70000.0,1.0,2.0,...|
| 15| 250000.0|  1|        1|       2| 29|    0|    0|    0|    0|    0|    0|  70887.0|  67060.0|  63561.0|  59696.0|  56875.0|  55512.0|  3000.0|  3000.0|  3000.0|  3000.0|  3000.0|  3000.0|    0|[250000.0,1.0,1.0...|
| 18| 320000.0|  1|        1|       1| 49|    0|    0|    0|   -1|   -1|   -1| 253286.0| 246536.0| 194663.0|  70074.0|   5856.0| 195599.0| 10358.0| 10000.0| 75940.0| 20000.0|195599.0| 50000.0|    0|[320000.0,1.0,1.0...|
| 19| 360000.0|  2|        1|       1| 49|    1|   -2|   -2|   -2|   -2|   -2|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|     0.0|     0.0|     0.0|     0.0|     0.0|     0.0|    0|(22,[0,1,2,3,4,5,...|
| 20| 180000.0|  2|        1|       2| 29|    1|   -2|   -2|   -2|   -2|   -2|      0.0|      0.0|      0.0|      0.0|      0.0|      0.0|     0.0|     0.0|     0.0|     0.0|     0.0|     0.0|    0|(22,[0,1,2,3,4,5,...|
| 21| 130000.0|  2|        3|       2| 39|    0|    0|    0|    0|    0|   -1|  38358.0|  27688.0|  24489.0|  20616.0|  11802.0|    930.0|  3000.0|  1537.0|  1000.0|  2000.0|   930.0| 33764.0|    0|[130000.0,2.0,3.0...|
| 22| 120000.0|  2|        2|       1| 39|   -1|   -1|   -1|   -1|   -1|   -1|    316.0|    316.0|    316.0|      0.0|    632.0|    316.0|   316.0|   316.0|     0.0|   632.0|   316.0|     0.0|    1|[120000.0,2.0,2.0...|
| 23|  70000.0|  2|        2|       2| 26|    2|    0|    0|    2|    2|    2|  41087.0|  42445.0|  45020.0|  44006.0|  46905.0|  46012.0|  2007.0|  3582.0|     0.0|  3601.0|     0.0|  1820.0|    1|[70000.0,2.0,2.0,...|
| 24| 450000.0|  2|        1|       1| 40|   -2|   -2|   -2|   -2|   -2|   -2|   5512.0|  19420.0|   1473.0|    560.0|      0.0|      0.0| 19428.0|  1473.0|   560.0|     0.0|     0.0|  1128.0|    1|[450000.0,2.0,1.0...|
| 25|  90000.0|  1|        1|       2| 23|    0|    0|    0|   -1|    0|    0|   4744.0|   7070.0|      0.0|   5398.0|   6360.0|   8292.0|  5757.0|     0.0|  5398.0|  1200.0|  2045.0|  2000.0|    0|[90000.0,1.0,1.0,...|
| 27|  60000.0|  1|        1|       2| 27|    1|   -2|   -1|   -1|   -1|   -1|   -109.0|   -425.0|    259.0|    -57.0|    127.0|   -189.0|     0.0|  1000.0|     0.0|   500.0|     0.0|  1000.0|    1|[60000.0,1.0,1.0,...|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+-----+--------------------+
only showing top 20 rows

# Preparing the model

In [5]:
from pyspark.ml.classification import RandomForestClassifier

randomForest = RandomForestClassifier(inputCols="vector", outputCol="prediction", label)
model = randomForest.transform()

+-----+
|label|
+-----+
|    1|
|    1|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    0|
|    0|
|    1|
|    0|
|    0|
|    0|
+-----+
only showing top 20 rows

# Fitting the model

In [ ]:
# ...

# Evaluation of the model

In [ ]:
# ...

In [ ]:
# ...

In [ ]:
# ...

In [ ]:
# ...

# Streaming data

The stream will be produced by ```generate_transactions.py```

In [ ]:
from pyspark.streaming import StreamingContext

ssc = StreamingContext(sc, 10)

In [ ]:
def process(time, rdd):
    # ...

In [ ]:
stream = ssc.textFileStream('data/output/')

# ...
# ssc.awaitTermination()

In [ ]:
# stop stream
# ssc.stop(True, True)