<a href="https://colab.research.google.com/github/melodyrous/MIASHS2/blob/main/donnees_massives/spark/Spark_-_Basic_Queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Spark

In [50]:
# install Java JDK 8
# install SPARK
# install pyspark
# eventually consider pyspark
# eventuelly consider SPARK_HOME, or SPARK_PATH, etc.
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [51]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession.builder.appName("Python Spark").getOrCreate()

# Loading the data

In [52]:
df_ratings = spark.read\
    .option("delimiter", "\t")\
    .option("header", "true")\
    .option("inferSchema", "true")\
    .csv('u.data')

In [53]:
# print the dataframe schema
df_ratings.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- timestamp: integer (nullable = true)

In [54]:
# show a sample of the data (the dataframe executes the whole pipeline at this stage)
df_ratings.show(5)

+-------+-------+------+---------+
|user_id|item_id|rating|timestamp|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
+-------+-------+------+---------+
only showing top 5 rows

In [55]:
# set the rdd equivalent of the dataframe
rdd_ratings = df_ratings.rdd

# Basic Queries

#### Exercice 1 - Number of movies per user (using RDD then Dataframe)

Calculer pour chaque utilisateur le nombre de films notés, et afficher le résultat pour l'un d'entre eux. Utilisez dans un premier temps les RDD puis les Dataframes.

In [56]:
rdd_ratings

MapPartitionsRDD[196] at javaToPython at NativeMethodAccessorImpl.java:0

In [57]:
# classical RDD approach
result_1 = rdd_ratings.map(lambda r: (r[0], 1)).reduceByKey(lambda v1, v2: v1+v2).take(1)
print(result_1)

[(196, 39)]

In [58]:
# dataframe approach, filtering on the previous user to compare results
df_ratings.filter(df_ratings.user_id == result_1[0][0]).groupBy('user_id').count().show(1)

+-------+-----+
|user_id|count|
+-------+-----+
|    196|   39|
+-------+-----+

#### Exercice 2 - Average rating per user (using RDD then Dataframe)

Calculer pour chaque utilisateurs la note moyenne donnée et afficher le résultat pour l'un d'entre eux. Utilisez dans un premier temps les RDD puis les Dataframes.

In [59]:
# RDD
# classical RDD approach
rdd_map = rdd_ratings.map(lambda r: (r[0], int(r[2])))
rdd_agg = rdd_map.aggregateByKey(
    (0, 0), # initialise les valeurs pour chacun des users
    lambda a,b: (a[0] + b,    a[1] + 1), # combine deux lignes
    lambda a,b: (a[0] + b[0], a[1] + b[1]) # combine deux partitions
)

rdd_result = rdd_agg.mapValues(lambda v: float(v[0])/v[1])

result_1 = rdd_result.take(1)
print(result_1)

[(196, 3.6153846153846154)]

In [60]:
# dataframe approach
df_ratings.filter(df_ratings.user_id == result_1[0][0]).groupBy("user_id").mean().show(1) 
#or

from pyspark.sql.functions import avg

df_ratings.filter(df_ratings['user_id']==result_1[0][0])\
    .groupBy('user_id')\
    .agg(avg('rating'))\
    .show(1)

+-------+------------+-----------------+------------------+-------------------+
|user_id|avg(user_id)|     avg(item_id)|       avg(rating)|     avg(timestamp)|
+-------+------------+-----------------+------------------+-------------------+
|    196|       196.0|375.8205128205128|3.6153846153846154|8.812517328461539E8|
+-------+------------+-----------------+------------------+-------------------+

+-------+------------------+
|user_id|       avg(rating)|
+-------+------------------+
|    196|3.6153846153846154|
+-------+------------------+

#### Exercice 3 - Top-5 movies with at least 15 votes (Dataframe)

Afficher les 5 meilleurs films parmi ceux qui ont reçu au moins 15 votes.

*Indices:*
* Utiliser df_ratings pour calculer la moyenne, filtrer les films qui ont moins de 15 notes et classer les films par ordre décroissant.
* Faire un join avec df_movies pour afficher le nom des films sélectionnés.

In [61]:
df_items = spark.read\
    .option("delimiter", "|")\
    .option("header", "true")\
    .option("inferSchema", "true")\
    .csv('u.item')

In [62]:
df_items.printSchema()

root
 |-- movie_id: integer (nullable = true)
 |-- movie_title: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- video_release_date: string (nullable = true)
 |-- IMDb_url: string (nullable = true)
 |-- unknown: integer (nullable = true)
 |-- action: integer (nullable = true)
 |-- adventure: integer (nullable = true)
 |-- animation: integer (nullable = true)
 |-- children\s: integer (nullable = true)
 |-- comedy: integer (nullable = true)
 |-- crime: integer (nullable = true)
 |-- documentary: integer (nullable = true)
 |-- drama: integer (nullable = true)
 |-- fantasy: integer (nullable = true)
 |-- film-noir: integer (nullable = true)
 |-- horror: integer (nullable = true)
 |-- musical: integer (nullable = true)
 |-- mystery: integer (nullable = true)
 |-- romance: integer (nullable = true)
 |-- sci-fi: integer (nullable = true)
 |-- thriller: integer (nullable = true)
 |-- war: integer (nullable = true)
 |-- western: integer (nullable = true)

In [63]:
df_items.show(1)

+--------+----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie_id|     movie_title|release_date|video_release_date|            IMDb_url|unknown|action|adventure|animation|children\s|comedy|crime|documentary|drama|fantasy|film-noir|horror|musical|mystery|romance|sci-fi|thriller|war|western|
+--------+----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|       1|Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
+--------+----------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 1 row

In [92]:
from pyspark.sql.functions import avg, count, col, asc,desc

grouped_ratings = df_ratings.groupBy("item_id").agg(avg("rating"), count("rating"))
grouped_ratings = grouped_ratings.filter(grouped_ratings["count(rating)"]>15).join(df_items, grouped_ratings.item_id ==  df_items.movie_id,"inner").sort(col("avg(rating)").desc()).show()
grouped_ratings.show()

+-------+------------------+-------------+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|item_id|       avg(rating)|count(rating)|movie_id|         movie_title|release_date|video_release_date|            IMDb_url|unknown|action|adventure|animation|children\s|comedy|crime|documentary|drama|fantasy|film-noir|horror|musical|mystery|romance|sci-fi|thriller|war|western|
+-------+------------------+-------------+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|    408| 4.491071428571429|          112|     408|Close Shave, A (1...| 28-Apr-1996|              null|http://us.imdb.co...|      0|     0|        0|        1|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|    318| 4.466442953020135|          298|     318|Schindler's List ...| 01-Jan-1993|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|    169| 4.466101694915254|          118|     169|Wrong Trousers, T...| 01-Jan-1993|              null|http://us.imdb.co...|      0|     0|        0|        1|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    483|  4.45679012345679|          243|     483|   Casablanca (1942)| 01-Jan-1942|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  1|      0|
|    114| 4.447761194029851|           67|     114|Wallace & Gromit:...| 05-Apr-1996|              null|http://us.imdb.co...|      0|     0|        0|        1|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     64| 4.445229681978798|          283|      64|Shawshank Redempt...| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    603|4.3875598086124405|          209|     603|  Rear Window (1954)| 01-Jan-1954|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      1|      0|     0|       1|  0|      0|
|     12| 4.385767790262173|          267|      12|Usual Suspects, T...| 14-Aug-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|     50|4.3584905660377355|          583|      50|    Star Wars (1977)| 01-Jan-1977|              null|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      1|     1|       0|  1|      0|
|    178|             4.344|          125|     178| 12 Angry Men (1957)| 01-Jan-1957|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    513| 4.333333333333333|           72|     513|Third Man, The (1...| 01-Jan-1949|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      1|      0|     0|       1|  0|      0|
|    134| 4.292929292929293|          198|     134| Citizen Kane (1941)| 01-Jan-1941|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    963|4.2926829268292686|           41|     963|Some Folks Call I...| 01-Jan-1993|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|    427| 4.292237442922374|          219|     427|To Kill a Mocking...| 01-Jan-1962|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    357| 4.291666666666667|          264|     357|One Flew Over the...| 01-Jan-1975|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     98|  4.28974358974359|          390|      98|Silence of the La...| 01-Jan-1991|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|    480| 4.284916201117318|          179|     480|North by Northwes...| 01-Jan-1959|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|    127| 4.283292978208232|          413|     127|Godfather, The (1...| 01-Jan-1972|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    285| 4.265432098765432|          162|     285|Secrets & Lies (1...| 04-Oct-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    272| 4.262626262626263|          198|     272|Good Will Hunting...| 01-Jan-1997|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
+-------+------------------+-------------+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

AttributeError: ignored

+-------+------------------+-------------+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|item_id|       avg(rating)|count(rating)|movie_id|         movie_title|release_date|video_release_date|            IMDb_url|unknown|action|adventure|animation|children\s|comedy|crime|documentary|drama|fantasy|film-noir|horror|musical|mystery|romance|sci-fi|thriller|war|western|
+-------+------------------+-------------+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|    496| 4.121212121212121|          231|     496|It's a Wonderful ...| 01-Jan-1946|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    471|3.6108597285067874|          221|     471|Courage Under Fir...| 08-Mar-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|    463| 3.859154929577465|           71|     463|Secret of Roan In...| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    148|          3.203125|          128|     148|Ghost and the Dar...| 11-Oct-1996|              null|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    833| 3.204081632653061|           49|     833|  Bulletproof (1996)| 06-Sep-1996|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    392|3.5441176470588234|           68|     392|Man Without a Fac...| 01-Jan-1993|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    623| 2.923076923076923|           39|     623|Angels in the Out...| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        0|        0|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    540| 2.511627906976744|           43|     540|  Money Train (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    737| 2.983050847457627|           59|     737|       Sirens (1994)| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    243|2.4393939393939394|          132|     243|Jungle2Jungle (1997)| 07-Mar-1997|              null|http://us.imdb.co...|      0|     0|        0|        0|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|   1025|2.9318181818181817|           44|    1025|Fire Down Below (...| 01-Jan-1997|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|   1084| 3.857142857142857|           21|    1084|Anne Frank Rememb...| 23-Feb-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          1|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    516|3.9682539682539684|           63|     516|   Local Hero (1983)| 01-Jan-1983|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|   1139| 2.606060606060606|           33|    1139|      Hackers (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|     31|3.6298701298701297|          154|      31| Crimson Tide (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  1|      0|
|   1303|2.3333333333333335|           18|    1303| Getaway, The (1994)| 01-Jan-1994|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    451| 3.347058823529412|          170|     451|       Grease (1978)| 01-Jan-1978|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      1|      0|      1|     0|       0|  0|      0|
|    137|3.9005847953216373|          171|     137|    Big Night (1996)| 20-Sep-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|    251| 4.260869565217392|           46|     251|Shall We Dance? (...| 11-Jul-1997|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|     85|3.0344827586206895|           58|      85|     Ref, The (1994)| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
+-------+------------------+-------------+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows